html{
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: deepskyblue;	
}

input {
/*	float: left;*/
	margin-bottom: 30px;
}
.container {
	height: 100%;
	width: 100%;
	padding-top: 30px;
}


.player1View, .player2View {
	height: 300px;
	width: 100%;
	background-color: indianred;
	
}

.gamePlay {
	background-color: lightpink;
	height: 300px;
	width: 100%;
}

#chatBox {
	background-color: white;
	height: 150px;
	overflow-y: scroll;

}

.RPSDiv {
	margin-bottom: 30px;
}


.RPSText:hover {
	background-color: purple;
}